.create-account {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 420px;
  padding: 50px 0px;
}

.create-account > h1 {
  font-size: 42px;
}

.create-account > form {
  margin-top: 50px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.create-account > form > input {
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  width: 100%;
  font-size: 16px;
  &[type="submit"] {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}

.create-account .error-text {
  font-weight: 600;
  color: tomato;
}

.create-account .link-text {
  margin-top: 20px;
  a {
    color: #1d9bf0;
  }
}
