.post {
  display: flex;
  flex-direction: column;
}

.post .image {
  display: flex;
  flex-direction: row;
  height: 460px;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  flex: 1;
  max-width: 100%;
}

.slick-slider .slick-track {
  display: flex;
  width: 850px !important;
}

.slick-slide img {
  border-radius: 20px;
  width: 400px !important;
  height: 400px !important;
  border: 1px solid #2f2f2f;
  object-fit: contain;
}

.single-image img {
  border-radius: 20px;
  width: 400px !important;
  height: 400px !important;
  border: 1px solid #2f2f2f;
  object-fit: contain;
}

.single-image {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
