.profile,
.edit {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.edit .photo .avatar-upload,
.profile .top .avatar-upload {
  width: 80px;
  overflow: hidden;
  height: 80px;
  border-radius: 50%;
  background-color: #1d9bf0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 50px;
  }
}

.profile .top {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: fit-content;
}

.profile .top .count {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: large;
  gap: 50px;
  text-align: center;
}

.profile .top .count .value {
  font-weight: bolder;
}

.edit .photo .avatar-upload > img,
.profile .top .avatar-upload > img {
  width: 100%;
}

.edit .photo .avatar-input {
  display: none;
}

.profile .down {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 50%;
}

.profile .down .name {
  text-align: left;
}

.profile .my-tweets {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 700px;
}

.profile .edit-btn {
  padding: 10px 0px;
  background-color: #808080;
  color: white;
  text-align: center;
  border-radius: 10px;
  border: unset;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  width: -webkit-fill-available;
}

.profile .intro {
  color: #808080;
}

.edit .photo .profile-label {
  color: #1d9bf0;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
}

.edit .line {
  width: 100%;
  border-bottom: 1px solid #808080;
}

.edit-form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.edit-form .col {
  display: flex;
  gap: 3px;
  width: 100%;
}

.edit-form .col .key {
  width: 300px;
}

.edit-form .col .value {
  border: none;
  border-bottom: 1px solid white;
  background-color: black;
  border-radius: 2px;
  width: 100%;
  color: white;
  &:focus {
    outline: none;
  }
}

.btn {
  width: 100%;
  margin-top: 100px;
}

.btn .edit-btn {
  padding: 10px 0px;
  background-color: #1d9bf0;
  color: white;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #1d9bf0;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  width: -webkit-fill-available;
}

.btn .cancel-btn {
  padding: 10px 0px;
  color: #1d9bf0;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #1d9bf0;
  background-color: black;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  width: -webkit-fill-available;
}

.error-text {
  font-weight: 600;
  color: tomato;
  text-align: center;
  margin-top: 20px;
}
