.alarm {
  display: flex;
  margin: 4px 0px;
  justify-content: space-between;
}

.alarm .left {
  display: flex;
  gap: 10px;
}

.alarm .left .time {
  color: #808080;
}

.alarm .right > img {
  border-radius: 5px;
}
