[class^="alarm_"] {
  display: flex;
  margin: 4px 0;
  justify-content: space-between;
}

[class^="alarm_"] .left {
  display: flex;
  gap: 10px;
}

[class^="alarm_"] .left .time {
  color: #808080;
}

[class^="alarm_"] .right > img {
  border-radius: 5px;
}
