.dialog-content {
  margin: 20px;
  color: black;
}

.dialog-btn button {
  background-color: white;
  border: unset;
  width: 50%;
  align-items: center;
  padding: 20px;
  font-size: medium;
  font-weight: bold;
}

.dialog-btn {
  margin-top: 10px;
  display: flex;
  width: 100%;
}

.dialog-btn .confirm {
  color: #62a9f3;
}
