.header {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.header .user {
  align-content: center;
}

.main-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
