.tweet {
  padding: 20px;
  border-bottom: 1px solid white;
}

.tweet .top {
  display: flex;
  justify-content: space-between;
  cursor: auto;
  width: -webkit-fill-available !important;
}

.tweet .top .left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.tweet .top .left > div {
  cursor: pointer;
}

.tweet .top .left .photo {
  width: 30px;
  overflow: hidden;
  height: 30px;
  border-radius: 50%;
  background-color: #1d9bf0;
  display: flex;
  margin-bottom: unset !important;
}

.tweet .top .left .time {
  color: #808080;
}

.tweet .name {
  font-weight: 600;
  font-size: 15px;
  display: flex;
  width: 100%;
  gap: 10px;
  cursor: pointer;
}

.tweet .right .menu .btn {
  width: 20px;
  color: white;
  padding: unset;
}

.tweet .payload {
  margin: 10px 0px;
  font-size: 18px;
}

.tweet .middle .photo {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}

.edit-btn,
.close-btn,
.delete-btn {
  width: 20px;
  cursor: pointer;
}

.btn {
  display: flex;
  gap: 10px;
}

.css-10d30g3-MuiPaper-root-MuiDialog-paper {
  border: 1px solid white;
  background-color: black !important;
  color: white !important;
  border-radius: 20px !important;
  resize: none;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.dialog-title {
  display: flex;
  justify-content: space-between;
}

.tweet .bottom {
  display: flex;
  gap: 15px;
  width: 100%;
}

.tweet .bottom .like-btn,
.tweet .bottom .reply-btn,
.tweet .bottom .re-tweet-btn {
  width: 22px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  justify-items: center;
}

.tweet .bottom .like-btn .active {
  color: red;
}

.reply-dialog-title {
  display: flex;
  justify-content: space-between;
}

.reply-dialog-title .info {
  font-size: large;
}

.reply-dialog-content {
  padding: 0px 20px;
  display: "flex";
  flex-direction: "column";
  position: "relative";
}

.reply-dialog-content .title {
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

.reply-dialog-content .title > p {
  margin: 20px;
  font-size: large;
  font-weight: bold;
}

.reply-dialog-content .reply-form {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
}

.retweet-dialog-content {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
}

.retweet-dialog-content .submit-btn {
  background-color: #1d9bf0;
  color: white;
  border: none;
  padding: 10px 0px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.retweet-dialog-content .btn {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.tweet .middle .re-tweet {
  border: 1px solid white;
  border-radius: 20px;
  margin: 20px 0px;
}
